@model Picking_Web.Models.Impressora
@{
    ViewBag.Title = "Detalhe";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<h2>@Model.Descricao</h2>
<ul>
    <li>@Model.IP</li>
    <li>@Model.Localizacao</li>
</ul>

