<div id="form_encerramento_conferencia" style="display: none">
    <form class="bootbox-form">
        <div class="form-group">
            <label class="control-label col-md-2">Pedido</label>
            <input class="bootbox-input bootbox-input-text form-control" type="text" id="numdoc" disabled="" data-teste="teste">
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Local Físico</label>
            <input class="bootbox-input bootbox-input-text form-control" type="text" id="local">
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Operador</label>
            <select class="bootbox-input bootbox-input-select form-control" id="operadorespicking"></select>
        </div>
        <input type="hidden" id="operador" value="@User.Identity.Name" />
</form>
</div>