<div id="form_lista_picking_parcial" style="display: none">
    <form class="bootbox-form"  style="width: 100%;">
        <div class="" style="float:left;width:20%">
            <label class="control-label">Nº Picking</label>
            <input class="bootbox-input bootbox-input-text form-control" type="text" id="numpicking" disabled="disabled">
        </div>
        <div class="" style="float:left;width:20%">
            <label class="control-label">Data de Picking</label>
            <input class="bootbox-input bootbox-input-text form-control" type="text" id="datapicking" disabled="disabled">
        </div>
        <div class="" style="float:left;width:20%">
            <label class="control-label">Usuário</label>
            <input class="bootbox-input bootbox-input-text form-control" type="text" id="usuariopicking" disabled="disabled">
        </div>
        <div class="" style="float:left;width:20%">
            <label class="control-label">Operador</label>
            <select class="bootbox-input bootbox-input-select form-control" id="operadorespicking"></select>
        </div>
        <div class="" style="float:left;width:20%">
            <label class="control-label">Observações</label>
            <textarea class="bootbox-input bootbox-input-textarea form-control" id="observacoespicking" rows="5"></textarea>
        </div>

        <div class="row">
            <table class="table" id="itens_pedido_parcial" width="100%">
                <thead class="table-light">
                    <tr>
                        <th>Item</th>
                        <th>Descrição</th>
                        <th>Qtd Solicitada(Total)</th>
                        <th>Depósito</th>
                        <th>Número Lote</th>
                        <th>Line</th>
                        <th>Qtd Alocada(Lote)</th>
                        <th>Qtd Alocada(Picking)</th>
                        <th>Qtd Picking</th>
                        <th>Check</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <input type="hidden" id="numdoc" />
        <input type="hidden" id="usuario_logado_nome" value="@User.Identity.Name" />
    </form>
</div>