<div id="form_lista_picking_parcial" style="display: none">
    <form class="bootbox-form">
        <div class="form-group">
            <label class="control-label col-md-2">Nº Picking</label>
            <input class="bootbox-input bootbox-input-text form-control" type="text" id="numpicking" disabled="disabled">
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Data de Picking</label>
            <input class="bootbox-input bootbox-input-text form-control" type="text" id="datapicking" disabled="disabled">
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Usuário</label>
            <input class="bootbox-input bootbox-input-text form-control" type="text" id="usuariopicking" disabled="disabled">
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Operador</label>
            <select class="bootbox-input bootbox-input-select form-control" id="operadorespicking"></select>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Observações</label>
            <textarea class="bootbox-input bootbox-input-textarea form-control" id="observacoespicking" rows="5"></textarea>
        </div>
         <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-5">



                                </div>
                                @*<div class="col-sm-7">
                                    <div class="text-sm-end">
                                        <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#ModalRegister">
                                            Nova Licença
                                        </button>
                                    </div>
                                </div>*@
                                <!-- end col-->
                            </div>
                            <!-- Modal -->
                            @*@Html.Partial("FormLicenca")*@
                        <div ">
                            <table id="itens_pedido_parcial" class="table table-centered w-50 dt-responsive nowrap">
                                <thead class="table-light">
                                    <tr>
                                        <th>Item</th>
                                        <th>Descrição</th>
                                        <th>Qtd Solicitada(Total)</th>
                                        <th>Depósito</th>
                                        <th>Número Lote</th>
                                        <th>Line</th>
                                        <th>Qtd Alocada(Lote)</th>
                                        <th>Qtd Alocada(Picking)</th>
                                        <th>Qtd Picking</th>
                                        <th>Check</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row" style="margin-top: 10px; margin-left: 0px; margin-right: 0px;">
        
        </div>

        <input type="hidden" id="numdoc" />
        <input type="hidden" id="usuario_logado_nome" value="@User.Identity.Name" />
    </form>
</div>