@{
    ViewBag.Title = "Confirmação de E-mail";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Início", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:#000000" })
        </div>
        <div class="navbar-collapse collapse">
        </div>
    </div>
</div>
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p style="color:whitesmoke">
        Por favor verifique o seu e-mail para resetar sua senha.
    </p>
    <hr />
</div>
<div style="margin-top: 520px ; color:whitesmoke">

</div>

