@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Impressora AMBIENTE não configurada corretamente.</h2>

